@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
:root {
  /* Color palette */
  --background-color: #333333;
  --color-1: #43122a;
  --color-2: #58304c;
  --color-3: #4e4d7e;
  --color-4: #475957;
  --color-5: #768972;
  --color-6: #739fa4;

  /* Fonts */
  --heading-font: "Grenze Gotisch", cursive;
  --general-font: "Quicksand", sans-serif;
}
body {
  background-image: url("img/bigbackground_1-100.jpg");
  position: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.character {
  background-image: url("img/charactergrey.svg");
  position: absolute;
  background-size: 100%;
  width: 40vw;
  height: 100vh;
  background-repeat: no-repeat;
  left: 3vw;
}
.title {
  font-family: var(--heading-font);
  color: #ffffff;
  position: absolute;
  top: 3vw;
  left: 40vw;
  font-size: 6vw;
  text-align: center;
  padding: 10vw;
}
/*button*/
.button {
  display: inline-flex;
  height: 7vw;
  width: 18vw;
  border: 2px solid #475957;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5vw;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#button-5 {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  background: var(--background-color);
  left: 61vw;
  top: 33vw;
}

#button-5 a {
  position: relative;
  transition: all 0.45s ease-Out;
  color: var(--color-6);
  font-family: var(--general-font);
}

#translate {
  transform: rotate(50deg);
  width: 150%;
  height: 200%;
  left: -50vw;
  top: -5vw;

  background: #475957;
  position: absolute;
  transition: all 0.6s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #ffffff;
}

/*navigation*/
.main-nav {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  color: var(--color-6);
}
.logo {
  font-family: var(--heading-font);
  font-size: 2rem;
  padding: 0 2rem;
}
.nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: var(--color-6);
}
.nav-links a {
  color: #ffffff;
  padding: 3vw;
  font-family: var(--general-font);
}
.nav-links a:hover {
  text-shadow: 0vw 0vw 1vw #43122a;
  color: var(--color-6);
}
.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}
.line {
  height: 2 px;
  width: 35px;
  margin: 0.5rem;
  background: var(--background-color);
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .nav-links {
  transform: translateX(0%);
}

@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  /*navigation in mobile*/
  .burger {
    display: block;
  }
  .nav-links a {
    font-family: var(--general-font);
  }
  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--background-color);
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .burgericon {
    background-image: url(img/hamburger.png);
    width: 7vw;
    height: 4.6vh;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0.2rem;
    display: block;
    margin: 6vw;
  }
  .closeicon {
    background-image: url(img/x.png);
    width: 7vw;
    height: 5.4vh;
    z-index: 1;
    background-size: 100%;
    margin: 6vw;
    background-repeat: no-repeat;
  }
  /*general mobile aspect*/
  body {
    background-image: url("img/background-100.jpg");
    position: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  .character {
    background-image: url("img/charactergrey.svg");
    position: absolute;
    background-size: 100%;
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    top: 20vw;
    left: 3vw;
  }
  .title {
    font-family: var(--heading-font);
    color: #ffffff;
    position: absolute;
    top: 30vw;
    left: 40vw;
    font-size: 11vw;
    text-align: center;
    padding: 0;
  }
  .button {
    display: inline-flex;
    height: 15vw;
    width: 30vw;
    border: 2px solid #475957;
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 4vw;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #button-5 {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    background: var(--background-color);
    left: 55vw;
    top: 65vw;
  }

  #button-5 a {
    position: relative;
    transition: all 0.45s ease-Out;
    color: var(--color-6);
    font-family: var(--general-font);
  }

  #translate {
    transform: rotate(50deg);
    width: 150%;
    height: 150%;
    left: -50vw;
    top: -6vw;

    background: #475957;
    position: absolute;
    transition: all 0.6s ease-Out;
  }
}
