@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  /* Color palette */
  --background-color: #333;
  --color-1: #43122a;
  --color-2: #58304c;
  --color-3: #4e4d7e;
  --color-4: #475957;
  --color-5: #768972;
  --color-6: #739fa4;

  /* Fonts */
  --heading-font: "Grenze Gotisch", cursive;
  --general-font: "Quicksand", sans-serif;
}
