body {
  background: url(img/bluewoods.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: var(--heading-font);
  font-size: 4vw;
  font-style: italic;
  color: white;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 5vw;
  margin-bottom: 1vw;
}

p {
  font-family: var(--general-font);
  color: white;
  font-size: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

h4 {
  font-family: var(--general-font);
  color: white;
  font-size: 2.5vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.abouttitle {
  max-width: 2000px;
}

.button {
  height: 4vw;
  width: 13vw;
  border: 2px solid #475957;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5vw;
  letter-spacing: 1.5px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 7vw;
}
#button-5 {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  background: var(--background-color);
}

#button-5 a {
  position: relative;
  transition: all 0.45s ease-Out;
  color: var(--color-6);
  font-family: var(--general-font);
}

#translate {
  transform: rotate(50deg);
  width: 150%;
  height: 200%;
  left: -50vw;
  top: -5vw;

  background: #475957;
  position: absolute;
  transition: all 0.6s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #ffffff;
}

#begging {
  margin-top: 8vw;
}
