body {
  background: url(img/bluewoods.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: var(--general-font);
  color: white;
  font-size: 2vw;
  margin-left: 4vw;
  margin-right: 4vw;
}
.abouttitle {
  max-width: 800px;
}
