/* #header {
  grid-area: hd;
} */

#topnav_area {
  grid-area: tn;
}

#area_1 {
  grid-area: s1;
}

#area_2 {
  grid-area: s2;
  /* height: 400px;
  width: 600px; */
  margin: auto;
  background-color: var(--color-4);
  box-shadow: 5px 5px 10px #000;
  border-radius: 10px;
}

/* adelina css */

:root {
  /* Color palette */
  --background-color: #333;
  --color-1: #43122a;
  --color-2: #58304c;
  --color-3: #4e4d7e;
  --color-4: #475957;
  --color-5: #768972;
  --color-6: #739fa4;

  /* Fonts */
  --heading-font: "Grenze Gotisch", cursive;
  --general-font: "Quicksand", sans-serif;
}

html {
  background: url(formimg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  max-width: 300px;
  margin: auto;
}

h1 {
  font-family: var(--heading-font);
  font-size: 3rem;
  color: white;
  max-width: 500px;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 2vw;
  margin-bottom: 4vw;
}

h2 {
  font-family: var(--general-font);
  font-size: 1em;
  color: white;
  max-width: 500px;
  margin-left: 4vw;
  margin-top: 1vw;
  margin-right: 4vw;
  margin-bottom: 1vw;
}

p {
  font-family: var(--general-font);
  color: white;
  font-size: 0.9em;
  max-width: 500px;
  margin-left: 4vw;
  margin-right: 4vw;
}

.col {
  height: 100%;
}

div[class*="container"] {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5vw;
  margin-bottom: 3vw;
}

.btn {
  position: relative;
  color: white;
  font-family: var(--general-font);
  font-size: 0.8em;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  transform: scale(1, 1);
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* BTN TWO */
.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid var(--color-6);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.img-avatar {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  max-width: 450px;
  margin: auto;
  margin-top: 8vw;
}

@media only screen and (min-width: 1071px) {
  body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: .5fr 1fr;
    grid-template-areas:
      " tn tn "
      " s1 s2 ";
  }
}

@media only screen and (max-width: 1070px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      " tn "
      " s1 "
      " s2 ";
  }
}

.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 1px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
}

.text-divider {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 2rem;
  --text-divider-gap: 1rem;
}
.text-divider::before,
.text-divider::after {
  content: "";
  height: 3px;
  background-color: #ffffff;
  flex-grow: 1;
}
.text-divider::before {
  margin-right: var(--text-divider-gap);
  margin-left: var(--text-divider-gap);
}
.text-divider::after {
  margin-left: var(--text-divider-gap);
  margin-right: var(--text-divider-gap);
}
