body {
  background: url(img/bluewoods.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h2 {
  font-size: 2vw;
}
p {
  font-family: var(--general-font);
  color: white;
  font-size: 2vw;
  margin-bottom: 1vw;
  margin-left: 4vw;
  margin-right: 4vw;
}
.wholeform {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.formflex {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50vw;
  margin: 3vw;
  /* background-color: #333333;
  box-shadow: 5px 5px 10px #000;
  border-radius: 10px; */
}
.img-avatar {
  position: relative;
  width: 40vw;
}
.button {
  display: inline-flex;
  height: 4vw;
  width: 13vw;
  border: 2px solid #475957;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5vw;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  align-self: center;
}
#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: var(--background-color);
}
#button-5 a {
  position: relative;
  transition: all 0.45s ease-Out;
  color: var(--color-6);
  font-family: var(--general-font);
}
#translate {
  transform: rotate(50deg);
  width: 150%;
  height: 200%;
  left: -50vw;
  top: -5vw;
  background: #475957;
  position: absolute;
  transition: all 0.6s ease-Out;
}
#button-5:hover #translate {
  left: 0;
}
#button-5:hover a {
  color: #ffffff;
}

.capitalize {
  text-transform: capitalize;
}
.hidden {
  display: none;
}

#load {
  background-color: #586779c5;
  height: 100vw;
  width: 100vw;
  position: absolute;
  top: 70px;
  z-index: 10;
}

#load h1 {
  text-align: center;
  margin-top: 10vw;
}

@media only screen and (min-width: 1071px) {
  .wholeform {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }
}
@media only screen and (max-width: 1070px) {
  .wholeform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #area_1 {
    justify-self: center;
  }
  #area_2 {
    justify-self: center;
  }

  .formflex {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70vw;
    margin: 8vw;
    justify-content: center;
  }
  p {
    font-family: var(--general-font);
    color: white;
    font-size: 3vw;
    max-width: 500px;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  h2 {
    font-size: 3vw;
  }
  .button {
    display: inline-flex;
    height: 7vw;
    width: 20vw;
    font-size: 2vw;
  }
}
