@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  --background-color: #333;
  --color-1: #43122a;
  --color-2: #58304c;
  --color-3: #4e4d7e;
  --color-4: #475957;
  --color-5: #768972;
  --color-6: #739fa4;
  --heading-font: "Grenze Gotisch", cursive;
  --general-font: "Quicksand", sans-serif;
}
* {
  box-sizing: border-box;
}
.maingrid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  margin: 0rem 10rem 0rem 10rem;
}
h1 {
  font-family: var(--heading-font);
  font-size: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 1.75rem;
}
label {
  font-size: 1.25rem;
  font-family: var(--general-font);
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-family: var(--general-font);
}
.button {
  display: inline-flex;
  height: 50px;
  width: 150px;
  border: 2px solid #475957;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all 0.45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 150%;
  height: 200%;
  left: -200px;
  top: -30px;
  background: #475957;
  position: absolute;
  transition: all 0.3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #ffffff;
}
img {
  height: auto;
  max-width: 100%;
}
.formflex {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 400px;
  width: 600px;
  margin: auto;
  background-color: #333333;
  box-shadow: 5px 5px 10px #000;
  border-radius: 10px;
}
.formgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
}
.formgrid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
}
.text-divider {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 2rem;
  --text-divider-gap: 2rem;
}
.text-divider::before,
.text-divider::after {
  content: "";
  height: 3px;
  background-color: #ffffff;
  flex-grow: 1;
}
.text-divider::before {
  margin-right: var(--text-divider-gap);
  margin-left: var(--text-divider-gap);
  margin-top: var(--text-divider-gap);
  margin-bottom: var(--text-divider-gap);
}

.text-divider::after {
  margin-left: var(--text-divider-gap);
  margin-right: var(--text-divider-gap);
  margin-top: var(--text-divider-gap);
  margin-bottom: var(--text-divider-gap);
}
html {
  background: url(formimg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.area1 {
  align-self: center;
}
.button {
  align-self: center;
}
.area2 {
  align-self: center;
}
.drop-down {
  text-align: left;
  margin-left: 3rem;
}
