@media screen and (max-width: 600px) {
  /*navigation in mobile*/
  .burger {
    display: block;
  }
  .nav-links a {
    font-family: var(--general-font);
  }
  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--background-color);
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
