@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@font-face {
  font-family: meath;
  src: url("MeathFLF.ttf");
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
:root {
  /* Color palette */
  --background-color: #333333;
  --color-1: #43122a;
  --color-2: #58304c;
  --color-3: #4e4d7e;
  --color-4: #475957;
  --color-5: #768972;
  --color-6: #739fa4;

  /* Fonts */
  --heading-font: "Grenze Gotisch", cursive;
  --general-font: "Quicksand", sans-serif;
}

h1 {
  font-family: var(--heading-font);
  font-size: 3.5vw;
  color: white;
  max-width: 500px;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 2vw;
  margin-bottom: 4vw;
  text-transform: uppercase;
}

h2 {
  font-family: var(--general-font);
  color: white;
  max-width: 500px;
  margin-left: 4vw;
  margin-top: 1vw;
  margin-right: 4vw;
  margin-bottom: 1vw;
}

/*navigation*/
.main-nav {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  color: var(--color-6);
}
.logo {
  font-family: var(--heading-font);
  font-size: 1rem;
  padding: 0 2rem;
}
.nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: var(--color-6);
}
.nav-links a {
  color: #ffffff;
  padding: 3vw;
  font-family: var(--general-font);
}
.nav-links a:hover {
  text-shadow: 0vw 0vw 1vw #43122a;
  color: var(--color-6);
}
.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}
.line {
  height: 2 px;
  width: 35px;
  margin: 0.5rem;
  background: var(--background-color);
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .nav-links {
  transform: translateX(0%);
}
.text-divider {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 3vw;
  --text-divider-gap: 2vw;
}
.text-divider::before,
.text-divider::after {
  content: "";
  height: 0.5vw;
  background-color: #ffffff;
  flex-grow: 1;
}

@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  /*navigation in mobile*/
  .burger {
    display: block;
  }
  .nav-links a {
    font-family: var(--general-font);
  }

  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--background-color);
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .burgericon {
    background-image: url(hamburger.png);
    width: 7vw;
    height: 4.6vh;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0.2rem;
    display: block;
    margin: 6vw;
  }
  .closeicon {
    background-image: url(x.png);
    width: 7vw;
    height: 5.4vh;
    z-index: 1;
    background-size: 100%;
    margin: 6vw;
    background-repeat: no-repeat;
  }
}
